<h1> sign in</h1>

<form method="POST" action="<%= login_path %>">
<%= token_tag %>
<label for="username">Username</label>
<input type="email" name="username" required id="username">
<label for="userpassword">password</label>
<input type="password" name="userpassword" required id="userpassword">
<input type="submit" value="signin">
</form>