


<div class="col-md-6" style="margin:0 auto">
<form method="POST" action="/updateform">
<input type="hidden" name="id" value="<%= @id %>">
<%= token_tag %>
<div class="mb-3 ">
  <label for="Title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" name="title" value="<%= @title %>" placeholder="Title">
</div>
<div class="mb-3">
  <label for="Description" class="form-label">Description</label>
  <textarea class="form-control" id="Description" name="description" rows="3"><%= @description %></textarea>
</div>
<div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Update" style="display:block;margin:0 auto">
</div>
</form>
</div>